.divTitle {
  margin-bottom: 50px;
}


.generateThePasswordDiv{
  margin: 20px 0 40px;
}

.userIdInput{
  margin-bottom: 20px;
}

.generateButton{
  margin-bottom: 15px;
}

.generatedPasswordLabel{
  
}

.generatedPassword{
  
}


.testThePasswordDiv{
  
}